:root {
    /*colors*/
    --primary_bg_color: #2e3a46;
    --main_bg_color: #1e2d3b;
    --text_primary: #fff;
    --text_secondary: #807768;
}
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*TYPO*/
body {
    font-family: sans-serif;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 1.25rem;
}
h4 {
    text-transform: uppercase;
    color: var(--text_primary);
    flex-grow: 1;
    margin-top: 1.25rem;
}
h5 {
    color: var(--text_secondary);
}
select:focus {
    outline: none;
}
/*CONTAINERS AND COMMONS*/
/*header*/
header {
    background-color: var(--primary_bg_color);
}
.header_box {
    padding: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_box img {
    width: 3.125rem;
}
select {
    border: 2px solid var(--text_secondary);
    background-color: var(--main_bg_color);
    color: var(--text_secondary);
    border-radius: 1.875rem;
    padding: .625rem;
    width: 12.5rem;
}
/*main*/
main {
    background-color: var(--main_bg_color);
    padding: 30px 0;
    height: calc(100vh - 3.8125rem);

}
.main_container {
    max-width: 75rem;
    margin: auto;
}
.album {
    width: calc(100% / 5 - 1.25rem);
    background-color: var(--primary_bg_color);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.album img {
    width: 100%;
}

/*MEDIA-QUERIES*/
@media screen and (max-width: 63.75rem) {
    .album {
        width: calc(100% / 4 - 1.25rem);
    }    
}
@media screen and (max-width: 53.75rem) {
    .album {
        width: calc(100% / 3 - 1.25rem);
    }    
}
@media screen and (max-width: 35rem) {
    .album {
        width: 70%;
    }    
}